@tailwind base;
@tailwind components;
@tailwind utilities;

.my_container {
    @apply max-w-6xl mx-auto
}

.active {
    @apply bg-gradient-to-r from-green-700 to-green-500 animate-wiggle py-3 px-4 text-xl font-open font-semibold text-white rounded-lg tracking-wide transition duration-200
}

.default {
    @apply bg-transparent text-xl text-service-title font-open font-semibold tracking-wide py-3 px-4 rounded-lg
}

.logout_btn {
    @apply text-xl text-white py-2 px-4 border font-open font-semibold rounded-xl bg-gradient-to-r from-green-700 to-green-400
}

.silder_btn {
    @apply bg-green-500 md:py-2 py-1 md:px-5 px-2 rounded-lg text-white border-2 border-green-500
    shadow-2xl md:text-2xl text-xl font-Lobster font-semibold 
    hover:bg-transparent hover:text-yellow-50 tracking-wide transition-all duration-300
}
.sliderArray_btn1{
    @apply bg-btn-color1 text-white border-btn-color1
    hover:bg-btn-color1 hover:border-btn-color1
}

.silder_btn1 {
    @apply bg-transparent md:py-2 py-1 md:px-5 px-2 rounded-lg text-white border-2 border-green-500 md:text-2xl text-xl font-Lobster font-semibold hover:bg-green-500 hover:text-yellow-50 tracking-wide transition duration-200
}

.sliderArray_btn2{
    @apply bg-title-color text-white border-title-color
        hover:bg-title-color hover:border-title-color
}

.main_btn {
    @apply bg-gradient-to-r from-btn-color1 to-btn-color2 text-2xl py-2 px-6 rounded-lg border border-btn-color2 font-semibold text-white tracking-wide cursor-pointer transition duration-200
}

.sub_nav {
    @apply text-2xl text-green-600 font-Lobster font-semibold
}

/* sub category style */
.sub_title {
    @apply text-2xl font-serif font-semibold text-service-title 
}
.sub_desc{
    @apply text-left text-xl font-open font-semibold text-slate-700
}

/* All toy Button */
.details_btn {
    @apply btn py-2 px-5 border-2 rounded-xl capitalize tracking-wide font-semibold text-xl text-white hover:bg-transparent hover:text-green-600 transition duration-200
}
.table_header {
    @apply text-lg text-slate-600
}
.table_body {
    @apply text-gray-600 text-lg font-medium
}
/* dynamic toy details */
.details_title{
    @apply text-xl font-open font-medium text-slate-500
}

/* Add A Toy style */
.label_style {
    @apply text-xl font-sans font-medium text-description-color pb-1 tracking-wide
}
.addToy_btn {
    @apply bg-red-500 text-2xl font-Lobster font-bold tracking-wide w-full py-3 hover:bg-opacity-80 transition duration-200 text-slate-700 rounded-xl cursor-pointer mb-7
}
.login_btn {
    @apply bg-title-color py-3 w-full rounded-xl text-2xl font-serif border-2 border-title-color font-semibold tracking-wider text-white transition duration-200 hover:bg-btn-color1 hover:text-white
}

.label_style {
    @apply text-lg font-open text-slate-900 font-medium
}

.social_btn {
    @apply w-full border-2 border-slate-300 py-2 text-2xl rounded-xl font-open font-semibold tracking-wide hover:opacity-75
}

/* footer style */
.footer_title{
    @apply text-2xl font-open font-semibold text-slate-500
}
.footer_desc{
    @apply text-lg hover:underline hover:opacity-75
}

.terms_btn{
    @apply py-3 px-6 text-2xl font-Lobster font-semibold border
    rounded-xl bg-gradient-to-r from-btn-color1 to-btn-color2  text-slate-950 hover:border-btn-color1 hover:text-white transition duration-200
}